.card {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  cursor: pointer;
  height: 250px;
  width: 300px;
  transition: all 200ms ease-in-out;
}

.card:hover {
  background-size: 105%;
  filter: brightness(0.8);
}

.image {
  border-radius: 8px;
}
